<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 부트스트랩 css 사용 -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <!-- 부트스트랩 js 사용 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/board.css" rel="stylesheet">
    <title>hamsterworld</title>
    <script th:inline="javascript">
        let msg = [[${msg}]];
        if(msg=="DEL_OK"){ alert("삭제 성공했습니다.")};
    </script>
</head>
<body>
<div class="join">햄스터월드 - 각종 햄스터자료를 공유하는 곳
    <div class="joinmenu">
        <a href="/join">회원가입</a> |
        <a href="/login" th:if="${session.LoginUser == null}">로그인</a>
        <a href="/logout" th:if="${session.LoginUser != null}">로그아웃</a>
    </div>
</div>
<hr>
<div class="container">
    <div class="item"><img src="/image/istockphoto-675804830-612x612.jpg"></div>
    <div class="searchbar">
        <input type="text" placeholder="search"><button type="input" class="cefw">검색</button>
    </div>
    <nav class="item" id="menu">
        <ul class="dep1">
            <li><a href="/">Home</a></li>
            <li><a href="/board">HamsterBoard</a>
                <ul class="dep2">
                    <li><a href="#">정보 게시판</a></li>
                    <li><a href="#">육아 게시판</a></li>
                    <li><a href="#">사진 게시판</a></li>
                </ul>
            </li>
            <li><a href="#">Community</a>
                <ul class="dep2">
                    <li><a href="#">유머 게시판</a></li>
                    <li><a href="#">이슈 게시판</a></li>
                </ul>
            </li>
            <li><a href="#">Test</a></li>
            <li><a href="#">Test2</a></li>
            <li><a href="#">Test3</a></li>
        </ul>
    </nav>
    <div class="ddd"></div>
    <div class="tablewrapper">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성날짜</th>
                <th>작성자</th>
                <th>조회수</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${Board}">
                <th scope="row" th:text="${board.BoardNumber}">1</th>
                <td><a th:text="${board.BoardTitle}" th:href="@{/board/{board.BoardNumber}(board.BoardNumber=${board.BoardNumber},page=${page},pagesize=${paging.pageSize})}">안녕하세요 테스트 게시판입니다.</a></td>
                <td th:text="${board.BoardTime}">hamster</td>
                <td th:text="${board.Nickname}">234</td>
                <td th:text="${board.BoardView}">234</td>
            </tr>
            </tbody>
        </table>
        <button type="button" class="writebutton" id="post-button" onclick="location.href='/write'">글쓰기</button>
        <div class="paging">
            <a th:if="${paging.showPrev}" th:href="@{/board(page=${paging.beginPage - 1},pagesize=${paging.pageSize})}" th:text="Prev"></a>
            <th:block th:with="start=${paging.beginPage}, end=${paging.endPage}">
                <th:block th:each=" i : ${#numbers.sequence(start,end)}">
                    <a th:href="@{/board(page=${i},pagesize=${paging.pageSize})}" th:text="${i}"></a>
                </th:block>
            </th:block>
            <a th:if="${paging.showNext}" th:href="@{/board(page=${paging.endPage + 1},pagesize=${paging.pageSize})}" th:text="Next"></a>
        </div>
    </div>
    <div class="fotter">

    </div>
</div>

</body>
</html>