<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <title>HamsterWorld</title>
</head>
<body>
<div class="join">햄스터월드 - 각종 햄스터자료를 공유하는 곳
    <div class="joinmenu">
        <a href="/join">회원가입</a> |
        <a class="nav-link" href="/login"
           th:if="${session.LoginUser == null}">로그인</a>
        <a class="nav-link" href="/logout"
           th:if="${session.LoginUser != null}">로그아웃</a>
        </form>
    </div>
</div>
<hr>
<div class="container">
    <div class="item"><img src="/image/istockphoto-675804830-612x612.jpg"></div>
    <div class="searchbar">
        <input type="text" placeholder="search"><button type="input">검색</button>
    </div>
    <nav class="item" id="menu">
        <ul class="dep1">
            <li><a href="/">Home</a></li>
            <li><a href="/board">HamsterBoard</a>
                <ul class="dep2">
                    <li><a href="#">정보 게시판</a></li>
                    <li><a href="#">육아 게시판</a></li>
                    <li><a href="#">사진 게시판</a></li>
                </ul>
            </li>
            <li><a href="#">Community</a>
                <ul class="dep2">
                    <li><a href="#">유머 게시판</a></li>
                    <li><a href="#">이슈 게시판</a></li>
                </ul>
            </li>
            <li><a href="/test">Test</a></li>
            <li><a href="#">Test2</a></li>
            <li><a href="#">Test3</a></li>
        </ul>
    </nav>
    <div class="ddd"></div>
    <div class="dddd">
        햄스터 월드에 오신 여러분을 환영합니다~
    </div>
</div>
</body>
</html>