<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/joinstyle.css">
    <title>Document</title>
</head>
<body>
<div id="header">
    <a href="/" target="_blank" title="홈으로"><span id="logo">
            hamster world
        </span></a>
</div>

<div id="wrapper">
    <div id="content" th:object="${User}">
        <!-- ID-->
        <div>
            <form action="/join">
            <h3 class="join_title">
                <label for="UserId">아이디</label>
            </h3>
            <span class="box int_id">
                            <input type="text" th:field="*{UserId}" class="int" maxlength="20">
                        </span>
            <span class="error_next_box" th:errors="*{UserId}">아이디검증</span>
        </div>
        <!-- password-->
        <div>
            <h3 class="join_title">
                <label for="UserPassWord">비밀번호</label>
            </h3>
            <span class="box int_pass">
                            <input type="password"  th:field="*{UserPassWord}" class="int" maxlength="20">
                            <img src="/image/m_icon_pass.png" id="pswd1_img1" class="pswdImg">
                        </span>
            <span class="error_next_box" th:errors="*{UserPassWord}">비밀번호 검증</span>
            <span th:if="${#fields.hasGlobalErrors()}">
                <p class="error_next_box" th:each="err : ${#fields.globalErrors()}"
                   th:text="${err}">글로벌 오류 메시지</p>
            </span>
        </div>

        <!-- passwordconfirmed-->
        <div>
            <h3 class="join_title">
                <label for="ConfirmedUserPassWord">비밀번호 확인</label>
            </h3>
            <span class="box int_pass_check">
                            <input type="password" th:field="*{ConfirmedUserPassWord}" id="UserPassWordCon" class="int" maxlength="20">
                            <span id="alertTxt">사용불가</span>
                            <img src="/image/m_icon_pass.png" id="pswd1_img1" class="pswdImg">
                        </span>
            <span class="error_next_box" th:errors="*{UserPassWord}"></span>
            <span th:if="${#fields.hasGlobalErrors()}">
                <p class="error_next_box" th:each="err : ${#fields.globalErrors()}"
                   th:text="${err}">글로벌 오류 메시지</p>
            </span>
        </div>

        <!-- name -->
        <div>
            <h3 class="join_title">
                <label for="UserName">이름</label>
            </h3>
            <span class="box int_id">
                            <input type="text" th:field="*{UserName}"  class="int" maxlength="20">
                        </span>
            <span class="error_next_box" th:errors="*{UserName}"></span>
        </div>

        <!-- nick name-->
        <div>
            <h3 class="join_title">
                <label for="nickname">닉네임</label>
            </h3>
            <span class="box int_id">
                            <input type="text" th:field="*{NickName}" id="nickname" class="int" maxlength="20">
                        </span>
            <span class="error_next_box" th:errors="*{NickName}"></span>
        </div>

        <!-- JOIN BTN-->
        <div class="btn_area">
            <button type="submit" id="btnJoin" formmethod="POST">
                <span>가입하기</span>
            </button>
            </form>
        </div>

    </div>
</div>

</body>
</html>