<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>

       let content=JSON.stringify({"boardnumber":1});

       $(document).ready(function(){



                //댓글보기
               $.ajax({
                type : "POST",
                contentType: "application/json",
                data:content,
                url : "/comment",
                success : function(res){
                    console.log(res);
                    $('.comment').html(temHtml(res));
                },
                error : function(XMLHttpRequest, textStatus, errorThrown){
                    console.log(textStatus);
                    console.log(errorThrown);
                    alert("오류가 발생했습니다.")
                }
            }); //ajax 끝

            //댓글 삭제버튼 누르면 삭제
            $('.comment').on('click','.btndel',function(){

                if(!confirm("정말 삭제하시겠습니까?")) return;

                let cno = $(this).parent().attr('data_cno');
                let bno = $(this).parent().attr('data_bno');

                let content = JSON.stringify({
                    "commentnumber":cno,
                    "boardnumber":bno
                })

                console.log(content);

                $.ajax({
                type : "POST",
                contentType: "application/json",
                url : "/commentdelete",
                data : content,
                success : function(res){
                    console.log(res);
                    showcomment();

                },
                error : function(XMLHttpRequest, textStatus, errorThrown){
                    console.log(textStatus);
                    console.log(errorThrown);
                    alert("오류가 발생했습니다.")
                }
            });//ajax 끝

            });//click끝


            //댓글 쓰기
             $('.btnwrite').click(function(){

                let commentcontent = $('.commenttt').val();

                console.log(commentcontent);


                let content = JSON.stringify({
                    "commentcontent":commentcontent,
                    "boardnumber":10,
                    "usernumber":10,
                    "nickname":"귀여운게죄라면난사형"
                })

                $.ajax({
                type : "POST",
                contentType: "application/json",
                url : "/commentwrite",
                data : content,
                success : function(res){
                    console.log(res);
                    showcomment();

                },
                error : function(XMLHttpRequest, textStatus, errorThrown){
                    console.log(textStatus);
                    console.log(errorThrown);
                    alert("오류가 발생했습니다.")
                }
            });//ajax 끝

            });//click끝



            //댓글 update하기
             $('.comment').on('click','.btnupd',function(){
                let comment = $('span.userId',$(this).parent()).text();

                console.log(comment);
                $('input[name=commentupdate]').val(comment);
                $('.btnupdate').attr('data-userid',comment);

            });//click끝


            //댓글 update보내기
             $('.btnupdate').click(function(){

                let cno = $('.commentupdate').val();

                console.log(cno);


                let content = JSON.stringify({
                    "userid":cno
                })

                console.log(content);

                $.ajax({
                type : "POST",
                contentType: "application/json",
                url : "/commentupdate",
                data : content,
                success : function(res){
                    console.log(res);
                    //showcomment();

                },
                error : function(XMLHttpRequest, textStatus, errorThrown){
                    console.log(textStatus);
                    console.log(errorThrown);
                    alert("오류가 발생했습니다.")
                }
            });//ajax 끝

            });//click끝





            }); //ready끝

            let temHtml = function(comments){
            let tmp = '<ul class="comment_ul">';

            comments.forEach(function(comment){
                    tmp += ' <li data_cno='+comment.commentnumber
                    tmp += ' data_bno='+comment.boardnumber
                    tmp += ' data_uno='+comment.usernumber + '>'
                    tmp += ' <div class="comment_div"> '
                    tmp += ' <div class="user_info"> '
                    tmp += ' <span data_ninkname='+comment.nickname
                    tmp += ' data_date='+comment.commentdate +'>'
                    tmp +=   comment.nickname + ' ' + comment.commentdate + ' 수정 삭제'
                    tmp +=   '</span>'
                    tmp +=   '<div class="usercomment">'
                    tmp +=   '<span>'+comment.commentcontent+'</span>'
                    tmp +=   '</div>'
                    tmp +=   '</div>'
                    tmp +=   '</div>'
                    tmp += ' <button class="btndel">삭제</button>'
                    tmp += ' <button class="btnupd">수정</button>'
                    tmp += ' </li>'
                    tmp += ' <hr class="hr">'

                    console.log(comment);

                });

                return tmp + "</ul>";
            }



            let showcomment = function(){

            $.ajax({
                type : "POST",
                contentType: "application/json",
                data:content,
                url : "/comment",
                success : function(res){
                    console.log(res);
                    $('.comment').html(temHtml(res));
                },
                error : function(XMLHttpRequest, textStatus, errorThrown){
                    console.log(textStatus);
                    console.log(errorThrown);
                    alert("오류가 발생했습니다.")
                }
            }); //ajax 끝

            }// 함수끝
    </script>
</head>
<body>
<input type="text" class="commenttt">
<input type="text" class="commentupdate" name="commentupdate">
<button type="button" class="btnwrite">댓글 추가</button>
<button type="button" class="btnupdate">댓글 수정</button>
<div class="comment">

</div>


</body>
</html>